obj/aoe.csproj.nuget.dgspec.json
obj/aoe.csproj.nuget.g.props
obj/aoe.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/aoe.AssemblyInfo.cs
obj/Debug/net5.0/aoe.AssemblyInfoInputs.cache
obj/Debug/net5.0/aoe.assets.cache
obj/Debug/net5.0/aoe.csproj.AssemblyReference.cache
obj/Debug/net5.0/aoe.csproj.CopyComplete
obj/Debug/net5.0/aoe.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/aoe.csproj.FileListAbsolute.txt
obj/Debug/net5.0/aoe.dll
obj/Debug/net5.0/aoe.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/aoe.genruntimeconfig.cache
obj/Debug/net5.0/aoe.pdb
obj/Debug/net5.0/apphost
obj/Debug/net5.0/ref/aoe.dll
bin/Debug/net5.0/aoe
bin/Debug/net5.0/aoe.deps.json
bin/Debug/net5.0/aoe.dll
bin/Debug/net5.0/aoe.pdb
bin/Debug/net5.0/aoe.runtimeconfig.dev.json
bin/Debug/net5.0/aoe.runtimeconfig.json
bin/Debug/net5.0/Discord.Net.Commands.dll
bin/Debug/net5.0/Discord.Net.Core.dll
bin/Debug/net5.0/Discord.Net.Rest.dll
bin/Debug/net5.0/Discord.Net.Webhook.dll
bin/Debug/net5.0/Discord.Net.WebSocket.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.dll
bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net5.0/Microsoft.Extensions.Primitives.dll
bin/Debug/net5.0/Newtonsoft.Json.dll
bin/Debug/net5.0/System.Interactive.Async.dll
bin/Debug/net5.0/System.Linq.Async.dll
bin/Debug/net5.0/ref/aoe.dll
